tr
  td.innerpadding.borderbottom
    table(width='115' align='left' border='0' cellpadding='0' cellspacing='0')
      tr
    table.col380(align='left' border='0' cellpadding='0' cellspacing='0' style='width: 100%; max-width: 380px;')
      tr
        td
          table(width='100%' border='0' cellspacing='0' cellpadding='0')
            tr
              td.bodycopy
                | Hello, I'm #{NAME}
              td.bodycopy
                | We need help for #{TOPIC}
                | we need message #{MESSAGE}
            tr
              td(style='padding: 20px 0 0 0;')
                table.buttonwrapper(bgcolor='#e05443' border='0' cellspacing='0' cellpadding='0')
                  tr
                    td.button(height='45')
                      a(href='#') Claim yours!
